chore_sync_app/rust/target/
chore_sync_app/build/
chore_sync_app/.dart_tool/
.dart_tool/
build/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
chore_sync_app/android/
chore_sync_app/ios/
chore_sync_app/linux/
chore_sync_app/macos/
chore_sync_app/web/
chore_sync_app/windows/
